.cart-product{border:solid 2px rgb(159, 162, 162);border-radius: 10px; box-shadow: 1px 1px 1px;}
.box{height:'30px'; width:'50px';background-color: gainsboro; height: 30px; width: 80px; border-radius: 5px;}
